# Python
__pycache__/
*.py[cod]

# Virtual environments
HRD_app/venv/
Scripts/

#Temporary Files
temp/
Sample Data/

# Database (important)
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db