# Python
__pycache__/
*.py[cod]
.conda/
.pytest_cache/
.pyre/

# Virtual environments
HRD_app/venv/
Scripts/
venv/
.env/
env/
ENV/
Lib/
Scripts/
Include/
pyvenv.cfg

#Temporary Files
temp/
Sample Data/

# Database (important)
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db